{% extends "main.html" %}
{% load static %}
{% block individual_head %}
    <title>organization</title>
    <link rel="Stylesheet" type="text/css" href="{% static 'css/organization.css' %}"/>
{% endblock individual_head %}
{% block content %}
    <div class="container">
    <h2>
        Wybierz Organizację
    </h2>
        <section>
            <div class="row">
                {% for acronym,imgPath  in organizationsAcronymsAndPathToIMG %}

                    <div class="col-sm-4">
                        <form action={% url 'set_organization' %} method=post>{% csrf_token %}
                            <button value='{{ acronym }}' name='organization' class="btn bg-transparent ">
                                <img id='{{ acronym }}' class="img-fluid  " src="{% static imgPath %}"  alt="acronym{{ acronym }}">
                            </button>
                        </form>
                    </div>
                {% endfor %}


            </div>
        </section>
    </div>
{% endblock content %}