{% extends "main.html" %}
{% load static %}

{% block individual_head %}
    <link rel="Stylesheet" type="text/css" href="{% static 'css/choice.css' %}"/>
    <title>choice</title>
{% endblock individual_head %}

{% block content %}

    <section class="home_buttons">
        <div class="container">
            <h2 class="col-sm-12 ">Witaj<br>Co chcesz zrobić ?</h2>
            <div class="row">
                <div class="col-sm-3">
                    <button class="home-button">Skorzystać z pralni</button>
                </div>
                <div class="col-sm-3">
                    <form method="post" action={% url 'breakdowns' %}>{% csrf_token %}
                        <button class="home-button">Zgłosić usterkę</button>
                    </form>
                </div>
                <div class="col-sm-3">
                    <button class="home-button">Wynająć salę z bilardem</button>
                </div>
                {% for item in itemsInDorm %}
                    <div class="col-sm-3">
                        <form method="post" action={% url 'rent' %}>{% csrf_token %}
                            <button class="home-button" name="button" value= "{{ item }}">Wypożycz {{ item }}</button>
                        </form>
                    </div>
                {% endfor %}

                <div class="col-sm-3">
                    <form method="post" action={% url 'logout' %}>{% csrf_token %}
                        <button class="home-button">wyloguj</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

