<!DOCTYPE html>
<html lang="pl">
<head th:fragment="common-head(title)">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="Stylesheet" type="text/css" href="css/main.css">
    <title th:text="${title}">Title</title>
</head>
<body>
<div class="container">
    <h2>
        Wybierz Organizację
    </h2>
    <section>
        <div class="row">
            <div class="col-sm-4" th:each="organization : ${organizations}">
                <form action="/set_organization" method="post">
                    <button th:value="${organization.acronym}" name="organization" class="btn bg-transparent">
                        <img th:src="@{/img/{acronym}_logo.png(acronym=${organization.acronym})}" th:alt="${organization.acronym}">
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>

<!-- Common Scripts -->
<script src="js/jquery-3.5.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>