<!DOCTYPE html>
<html lang="pl">
<head th:replace="layout :: common-head('login','login')"></head>
<body>
<div class="container">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <img th:src="@{/img/{acronym}_logo.png(acronym=${organization_acronym})}" th:alt="${organization_acronym}">
                </div>

                <div class="col-md-8 login-form">
                    <form method=POST>
                        <label>Akademik</label><br>
                        <select name="dorms" id="dorms">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <div>
                            <label for="email">email:</label><br>
                            <input type="text" id="email" name="email" required autofocus/>
                        </div>
                        <div>
                            <label for="password">hasło:</label><br>
                            <input type="password" id="password" name="password" required/>
                        </div>
                        <div>
                            <button type="submit">Login</button>
                        </div>
                    </form>
                    <br>
                    <div class="registration_blue_bar">
                        <form method=POST>
                        <p>Nie masz konta ?</p>
                        <button>Zarejestruj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div th:replace="layout :: common-scripts"></div>
</body>
</html>