<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: common-head('dashboard','dashboard')}"></head>
<body>
<section class="home_buttons">
    <div class="container">
        <div class="row justify-content-center">
<!--            <h2 class="col-sm-12">Witaj, [[${user.getFirstName()}]]<br>Co chcesz zrobić ?</h2>-->
            <h2 class="col-sm-12">Witaj<br>Co chcesz zrobić ?</h2>

            <!-- Ensure both buttons are in the same 'row' div -->
            <div class="col-auto">
                <form th:action="@{/breakdowns}" method="GET">
                    <button class="home-button">Zgłosić usterkę</button>
                </form>
            </div>

            <div class="col-auto" th:each="itemName : ${uniqueItemsNames}">
                <form th:action="@{/rent_page}" method="GET">
                    <button class="home-button" th:value="${itemName}" name="item" th:text="'Wypożyczyć ' + ${itemName}"></button>
                </form>
            </div>


            <div class="col-auto">
                <form th:action="@{/logout}" method="GET">
                    <button class="home-button">Wyloguj</button>
                </form>
            </div>


        </div>
    </div>
</section>
<div th:replace="~{layout :: common-scripts}"></div>

</body>
</html>