<!DOCTYPE html>
<html lang="pl">
<head th:fragment="common-head(title,page_css)">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="Stylesheet" type="text/css" href="css/main.css">
    <link rel="Stylesheet" type="text/css" th:href="@{css/{page_css}.css(page_css=${page_css})}">
    <title th:text="${title}">Default Title</title></head>
<body>
<div th:fragment="common-scripts">
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>