<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common-head('Organizations','organization')">
    <link rel="Stylesheet" type="text/css" href="css/organizations.css"> <!-- Specific stylesheet -->
</head>
<body>
<div class="container">
    <h2>
        Wybierz Organizację
    </h2>
    <section>
        <div class="row">
            <div class="col-sm-4" th:each="organization : ${organizations}">
                <form action="/set_organization" method="post">
                    <button th:value="${organization.acronym}" name="organization" class="btn bg-transparent">
                        <img th:src="@{/img/{acronym}_logo.png(acronym=${organization.acronym})}" th:alt="${organization.acronym}">
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>
<div th:replace="layout :: common-scripts"></div>
</body>
</html>