{% extends "main.html" %}
{% load static %}

{% block individual_head %}
    <link rel="Stylesheet" type="text/css" href="{% static 'css/rental/rental.css' %}"/>
    <title>Awarie</title>
{% endblock individual_head %}

{% block content %}

    {% block data %}
        <h2>Awarie</h2>
        <div class="table_container">
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th scope="col">data</th>
                    <th scope="col">imię</th>
                    <th scope="col">nazwisko</th>
                    <th scope="col">numer pokoju</th>
                    <th scope="col">opis</th>
                    <th scope="col">stan</th>
                    {% if isPorter %}
                        <th scope="col">usuń awarie</th>
                    {% endif %}
                </tr>
                </thead>
                {% for row in breakdownData %}
                    <tr>
                        {% for cell in row %}
                            {% if cell.button_flag == 1 and isPorter%}
                                <form method="post" action={% url "remove_breakdown" %}>{% csrf_token %}
                                    <th scope="col">{{ cell }}
                                        <button>x</button>
                                    </th>
                                </form>
                            {% else %}
                                <th scope="col">{{ cell }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock data %}

    {% block input %}
        <section>
            <div class="row">
                <div class="col-sm-12" style="text-align: center">
                    <form class="align-items-center center-div" method="post"
                          action={% url "request_breakdown" %}>{% csrf_token %}
                        {{ form.description }}
                        <br>
                        <button type="submit" name="submit">Zgłoś awarię</button>
                    </form>
                </div>
            </div>
        </section>
    {% endblock input %}

{% endblock content %}